<div id="<%= dom_id todo %>" class="border border-dark rounded p-5">
  <strong>
    <%= todo.title %>
  </strong><br><br>

  <small class="text-muted">
    <%= todo.description %>
  </small><br><br>

  <% if todo.done %>
    <small class="text-success border border-success p-2 rounded">
      DONE
    </small>
  <% else %>
    <small class="text-danger border border-danger p-2 rounded">
      UNDONE
    </small>
  <% end %>
</div>
